<!DOCTYPE html>
<html ng-app="todoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>My Todo List App</title>
</head>
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<body>
<div class="container">
    <h1>My Todos</h1>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Current List</a></li>
        <li role="presentation"><a href="#">Save List</a></li>
        <li role="presentation"><a href="#">Load List</a></li>
    </ul>
    <br>

    <div ng-controller="SingleListCtrl">
        <div>
            <input type="text" ng-model="newTodo">
            <button ng-click="addTodo()">Add To List</button>
        </div>
        <div>
            <ul class="list-group col-sm-7">
                <li class="list-group-item" ng-repeat="todo in todos track by $index">{{todo.todoItem}}
                    <a ng-click="todo.editing = !todo.editing">Edit </a><a ng-click="deleteTodo(todo)">Delete</a>
                    <input ng-change="saveTodo(todo)" ng-model="todo.isCompleted" style="float:right" type="checkbox">
                    <p style="float:right">Completed</p>
                    <br>
                    <input type="text" ng-model="todo.todoItem" ng-show="todo.editing">
                    <button ng-show="todo.editing" ng-click="saveTodo(todo)">Save</button>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angular-ui-router/build/angular-ui-router.js"></script>
<script src="/modules/todos.js"></script>
<script src="/controllers/singleList.controller.js"></script>
<script src="/factories/singleList.factory.js"></script>
<script src="/controllers/allLists.controller.js"></script>
<script src="/factories/allLists.factory.js"></script>

</html>